@font-face{
  font-family: 'RobotoMono';
  src: url('./Fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', 'monospace';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: white;
  background: linear-gradient(to right, rgb(76, 161, 175), rgb(196, 224, 229));
}